.time-row {
  min-height: 18px;
}

.slot-occupied {
  box-sizing: border-box;
  border-left: 4px solid #004578;
  background-color: #71afe5;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.in-flight {
  background-color: #dadada;
}