.remove-button {
  position: absolute !important;
  top: 10px;
  right: 5px;
}

.remove-button .ms-Button-icon {
  font-size: 14px;
}

.ms-fontColor-white .remove-button .ms-Button-icon {
  color: white;
}